html {
    background: #f7fdff;
    display: flex;
    justify-content: center;
}

body {
    align-items: center;
    max-width: 600px;
    width: 100%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

pre {
    background-color: #bef2ff;
    padding: 5px;
}

table {
    background-color: #bef2ff;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: monospace;
    margin: auto;
}

td, th {
    border: 1px solid black;
    padding: 0.5rem;
}

